*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-columns: repeat(4,1fr);
}
.box{
    background-color: skyblue;
    padding: 40px;
    border:2px solid black;
    text-align: center;
    font-size: 40px;
}